:root {
    --smaller-font: 0.7rem;
    --small-font: 0.87rem;
    --normal-font: 1rem;
    --medium-font: 1.1rem;
    --large-font: 1.7rem;
    --x-large-font: 2rem;
    --bg-color: #000000;
    --text-first: #000000;
    --text-second: #000000;
    --first-color: #ff0000;
    --second-color: #040404;
    --third-color: #7e0000;
    --fourth-color: #790000;
    --fifth-color: #ff0000;
    --sixth-color: #000000;
    --g1: #ffff;
    --g2: #ffff;
    --marquee: #f3f3f3;
}

body {
    background: url("https://fast.image.delivery/zarjiap.jpg") var(--bg-color);
    color: var(--text-first);
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position-x: center !important;
    background-position-y: center !important;
}

.container {
    /* background-color: black; */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.9rem;
    margin-bottom: 1rem;
}



.rtp-card {
    background: linear-gradient(0deg, var(--first-color) 0%, var(--fifth-color) 100%);
    padding: 0.7rem;
    text-align: center;
    width: 24rem;
    max-width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 0.7rem;
    position: relative;
    z-index: 1;
}

.rtp-card-img {
    max-width: 100%;
    width: 29rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.place-img-rtp {
    width: 100%;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-items: center;
    border-radius: 5px;
    box-shadow: 1px 0px 4px 2px #131313 inset;
}

.place-img-rtp:hover {
    cursor: pointer;
}

.btn-play {
    border-radius: 5px;
    padding: 0.3rem;
    width: 100%;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
    border: 2px solid var(--first-color);
    background: linear-gradient(0deg, var(--g1) 0%, var(--g2) 100%);
    color: var(--text-first);
    margin-top: 10px;
}

.btn-play:hover {
    background: linear-gradient(0deg, var(--g2) 0%, var(--g1) 100%);
}

.pola-wrapper {
    background: var(--sixth-color);
    padding: 0.9rem;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    position: relative;
}

.pola-wrapper h4 {
    font-size: 0.9rem;
}

.pola-wrapper h5 {
    font-size: 0.7rem;
}

.pola-wrapper h4 i,
.pola-wrapper h5 i {
    color: var(--g2);
}

.jam-wrapper {
    background: #131313;
    border-radius: 50%;
    padding: 0.6rem;
}

.table-pola {
    max-width: 100%;
    width: 100%;
}

.table-pola tr td {
    text-align: center;
    font-size: 0.6rem;
}

.top-game,
.hot-game {
    background-repeat: no-repeat !important;
    position: absolute;
    width: 3rem;
    top: 0rem;
    z-index: 2;
    height: 2.9rem;
    left: 0.4rem;
}

.hot-game {
    background: url('https://inigambarku.site/images/2025/09/21/hot.gif');
}

.icon-providers {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    top: 0.5rem;
    right: 0.5rem;
}

.icon-providers img {
    width: 1.7rem;
}

.slider,
.swiper {
    width: 100%;
    max-width: 100%;
}

.slider-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    transform: translateZ(0);

}

.running-text {
    background: #000000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.1rem;
}

.icon-prov {
    background: linear-gradient(0deg, #ff0000 0%, #0a0a0a 100%);
    display: flex;
    position: relative;
    overflow: auto !important;
}

.icon-card-bg {
    cursor: pointer;
    padding: 0.1rem !important;
    color: var(--text-second);
}

.icon-card-bg p {
    font-size: 0.73rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
}

.img-prov {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.item-prov {
    padding: 0 0.5rem;
}

.btn-login {
    background: linear-gradient(0deg, #f90000 0%, #000000 100%);
    padding: 0.4rem;
    color: #f1f1f1;
    border: none;
    font-weight: bold;
}

.btn-login:hover {
    background: linear-gradient(0deg, #1c1a1a 0%, #000000 100%);
}

.btn-daftar {
    background: linear-gradient(0deg, #ff0000 0%, #000000 100%);
    padding: 0.4rem;
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.btn-daftar:hover {
    background: linear-gradient(to bottom, #1c1a1a 0%, #000000 100%);
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 11;
    overflow: hidden;
    width: 100%;
    border-top: 3px solid var(--fifth-color);
}

.item-nav-bottom {
    background: linear-gradient(0deg, #000000 0%, #000000 100% 100%);
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.item-nav-bottom:hover {
    background: linear-gradient(0deg, #ff0000 0%, #000000 100%);
    cursor: pointer;
}

.item-nav-bottom p {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 3.8rem;
    right: 0;
    z-index: 99;
    font-size: 0.9rem;
}

/* Percentage */
.percent {
    height: 19px;
    margin-top: 10px !important;
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    /* border-radius: .25rem; */
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.percent p {
    z-index: 15;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 13px;
    top: -15px;
    font-weight: bold;
    transform: translateY(14px);
    color: black;
}

.percent-bar {
    /* background-color: #ffc107; */
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /* background-color: #007bff; */
    transition: width .6s ease;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    /* animation: ; */
    z-index: 10;
}

.good {
    background-color: #ffc107;
}

.great {
    background-color: #28a745;
}

.bad {
    background-color: #f20017;
}

.content-home {
    padding: 1rem;
    margin-bottom: 4rem;
    background: var(--text-first);
    color: var(--text-second);
}

/* Container */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1100px !important;
    }
	
<!-- TOGGLE -->
<input type="checkbox" id="agenToggle" hidden>

<!-- BUTTON -->
<label for="agenToggle" class="agen-toggle-btn">☰ MENU</label>

<!-- MENU -->
<nav class="agen-social">
  <h3>MENU LINING4D</h3>

  <ul>
    <li>
      <a href="https://rtp.lining4dbet.info/" target="_blank" rel="nofollow">
        <img src="https://media.tenor.com/cnL9IC11wP8AAAAi/logo-rtp.gif.webp">
        <span>RTP SLOT</span>
      </a>
    </li>

    <li>
      <a href="https://lining4dlogin.com/article/index.php" target="_blank">
        <img src="https://i.ibb.co/7JswD6VS/HQr1OqN.gif">
        <span>BUKTI JP</span>
      </a>
    </li>

    <li>
      <a href="https://t.me/Lining4dofficial" target="_blank">
        <img src="https://media.tenor.com/9ZsRZ-PXPlwAAAAi/telegram-gif.gif">
        <span>TELEGRAM</span>
      </a>
    </li>

    <li>
      <a href="https://facebook.com/" target="_blank">
        <img src="https://cdn.globalcontentcloud.com/icons/icon_production_832_7998.gif">
        <span>FACEBOOK</span>
      </a>
    </li>

    <li>
      <a href="https://wa.me/6281999780486" target="_blank">
        <img src="https://media.tenor.com/3MtdCRIPZUMAAAAi/whatsapp.gif">
        <span>WHATSAPP</span>
      </a>
    </li>
  </ul>

  <!-- CLOSE -->
  <label for="agenToggle" class="agen-close-btn">✖ CLOSE</label>
</nav>
   }

.agen-toggle-btn {
  position: fixed;
  left: 20px;
  bottom: 110px;
  background: linear-gradient(to bottom, #444444 0%, #2f2f2f 80%);
  color: #fff;
  padding: 10px 16px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #f70f0f;
  z-index: 10000;
  transition: all 0.3s ease;
}

.agen-toggle-btn:hover {
  background: #2f2f2f;
}

.agen-social {
    position: fixed;
    left: -320px;
    bottom: 70px;
    width: 250px;
    background: linear-gradient(to bottom, #a5a5a5ba 0%, #dbd6d6 80%);
    z-index: 99999;
    transition: left 0.4s ease;
    padding: 7px;
    border-radius: 0 20px 20px 0;
    overflow-y: auto;
    box-shadow: inset 0 0 0 1px #989898, inset 0 2px 0 0 #969696, inset 0 4px 4px 2px #ffffffba, 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    border-right: 2px solid #a6a6a6;
}

.agen-social.agen-open {
  left: 0;
}

.agen-social h3 {
  display: none;
}

.agen-social p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center !important;
}

.agen-social ul {
  list-style: none;
  padding-left: 0;
}

.agen-social ul li {
  margin-bottom: 14px;
}

.agen-social ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-decoration: none;
  padding: 10px 14px;
  background: rgba(41, 17, 17, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  transition: all 0.3s ease;
}

.agen-social ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.agen-info {
  flex: unset !important;
  text-align: left !important;
}

.agen-info span {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

.agen-info small {
  color: #ffffff;
  font-size: 12px;
}


.agen-social ul li img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.agen-close-btn {
  display: block;
  position : unset !important;
  margin: 15px auto 0;
  padding: 8px 16px;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  font-size: 14px;
  color: #00000 !important;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s;
}

.agen-close-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}


@media (max-width: 400px) {
  .agen-toggle-btn {
    position: fixed;
    left: 1px;
    bottom: 70px;
    background: linear-gradient(to bottom, #444444 0%, #2f2f2f 80%);
    color: #fff;
    padding: 3px 7px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #44b4ac;
    z-index: 10000;
    transition: all 0.3s ease;
  }
}
